@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');

html{
    font-family: 'Manrope', sans-serif;
}

body {
    display: grid;
    place-items: center;
    text-align: center;
}

header{
    font-family: 'Manrope', sans-serif;
}

h1{
    color: #181818;
    font-size: 48px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.72px;
    margin-top: 125px;
    margin-bottom: 0;
}

h3{
    color: #898989;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.36px;
    margin-bottom: 70px;
    font-family: Manrope, sans-serif;
}

input:hover{
    border-radius: 10px;
    border: 1px solid #3B6F98;
    background: #F3F7FA;
}

input:active{
    border-radius: 10px;
    border: 1px solid #3B6F98;
    background: #F3F7FA;
}
:focus,:active{outline: none;} /* убираем линии обводки */
input[type="text"],
input[type="date"],
select {
    padding-left: 20px; /* добавляем отступ слева */
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #3B6F98;
    color: #3B6F98;
    -webkit-text-fill-color: #3B6F98;
}

.popup-body{
    font-family: Manrope, sans-serif;
    font-style: normal;
}

button{
    font-family: Manrope, sans-serif;
    font-style: normal;
}

.menu-item.menu-item--active {
    background-color: #E5EEF5;
    color: #3B6F98;
    border-color: #3B6F98;
}
.menu-item:hover {
    background-color: #F3F7FA;
}
header {
    margin-top: 15px;
    width: 1048px;
    height: 93px;
}

.menu-container {
    font-family: Manrope, sans-serif;
    background-color: #ffffff;
}

.menu {
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.menu a {
    display: inline-block;
    padding: 8px 30px;
    border: 1px solid #4D8BBA;
    border-radius: 50px;
    text-decoration: none;
    color: #4D8BBA;
    font-size: 18px;
    text-align: center;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu a {
    position: relative;
    margin-left: 15px;
    margin-bottom: 15px;
}
