<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дивизионы</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="stylesheet" href ="../../static/css/divisions.css">
</head>
<header class="menu-container">
    <div id="menu"></div>
</header>
<body>
<h1>Дивизионы</h1>
    <div id="container"></div>
    <div class="line"></div>
<div class="popup" id="popup">
    <div class="popup-body">
        <div class="popup_content">
            <button id="closePopup">
                <img class="popup-close-btn" src="../../static/pics/крестик.svg" alt="../../static/pics/крестик.svg">
            </button>
            <div class="popup-title"><h1 class="title">Объединить дивизионы</h1></div>
            <div class="popup-text">
                Выберите дивизион, с которым нужно объединить дивизион
                "<span class="sportsman"></span>, <span class="participants"></span>"<br>
            </div>
            <div class="scroll">
                <div class="category-buttons"> </div>
            </div>
            <form class="new-division-name" method="get">
                <label for="division">Напишите название для нового дивизиона</label><br>
                <input type="text" id="division" placeholder="Введите название">
            </form>
            <button id="merge-divisions">объединить</button>
        </div>
    </div>
</div>
<button class="to-results-btn">Подтвердить</button>
<script src="../../static/js/addNewDivisions.js"></script>
</body>
</html>