<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Жеребьёвка</title>
  <link rel="stylesheet" href="../../static/css/styles.css">
  <link rel="stylesheet" href="../../static/css/menu.css">
  <link rel="stylesheet" href ="../../static/css/divisions.css">
</head>
<header class="menu-container">
  <div class="menu">
    <a class="menu-item" href="pre-reg.html">Предварительная регистрация</a>
    <a class="menu-item" href="reg.html">Регистрация</a>
    <a class="menu-item menu-item--active" href="draw.html">Жеребьёвка</a>
    <a class="menu-item" href="#">Промежуточные результаты</a>
    <a class="menu-item" href="#">Итоговые результаты</a>
    <a class="menu-item" href="#">Формирование финальных сеток</a>
    <a class="menu-item" href="#">Финальные результаты спарринга</a>
  </div>
</header>
<body>
<h1>Жеребьёвка</h1>
<div id="container"></div>
<div class="line"></div>
<button class="to-results-btn">Перейти к Промежуточным результатам</button>
<script src="../../static/js/drawTable.js"></script>
</body>
</html>