<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Жеребьёвка</title>
  <link rel="stylesheet" href="../../static/css/styles.css">
  <link rel="stylesheet" href ="../../static/css/divisions.css">
</head>
<header class="menu-container">
  <div id="menu"></div>
</header>
<body>
<h1 class="draw">Жеребьёвка</h1>
<div id="container"></div>
<div class="line"></div>
<button class="to-results-btn">Перейти к Промежуточным результатам</button>
<script src="../../static/js/drawTable.js"></script>
<script src="../../static/js/addMenu.js"></script>
</body>
</html>