<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Жеребьёвка</title>
  <link rel="stylesheet" href="../../static/css/draw.css">
  <link rel="stylesheet" href="../../static/css/styles.css">
</head>

<body>
<header class="menu-container">
  <div id="menu"></div>
</header>
<p class="head">Жеребьёвка</p>
  <div class="square-container">
    <div class="square">
      <div class="column">
        <form method="POST">
          <label class="label__drawTop">Выбор дивизиона
            <select class="input__chooseTop">
              <option value="">Выберите дивизион</option>
              <option value="">Дивизион 1</option>
              <option value="">Дивизион 2</option>
            </select>
          </label>
          <label class="label__division">Диапазон номеров
            <div class="range-inputs">
              <input type="text" class="inputStart" placeholder="От:">
              <input type="text" class="inputEnd" placeholder="До:">
            </div>
          </label>
        </form>
      </div>
      <div class="columnTwo">
        <form method="POST">
          <label class="label__drawTopTwo">Количество щитов
            <input type="text" class="input__chooseTopTwo" placeholder="Введите количество щитов">
          </label>
          <label class="label__draw">Количество подходов
            <input type="text" class="input__choose" placeholder="Введите количество подходов">
          </label>
        </form>
      </div>
    </div>
  </div>
  <button class="openPopup" type="submit" id="submit">Подтвердить</button>
  <div id="popup" class="popup">
    <div class="popup-content">
      <button id="closePopup">
        <img src="../../static/pics/close.svg" alt="Close">
      </button>
      <img src="../../static/pics/checkMark.svg">
      <p class="done">Жеребьёвка выполнена</p>
      <button id="gotoTable">Перейти к таблице жеребьевки</button>
      <button id="drawAnotherDivision">Выполнить жеребьевку другого двивизиона +</button>
    </div>
  </div>
  <script src="../../static/js/openPopup.js"></script>
  <script src="../../static/js/addMenu.js"></script>
<script src="../../static/js/submitForm.js"></script>
</body>
</html>