<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Формирование финальных сеток</title>
    <link rel="stylesheet" href="../../static/css/draw.css">
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>

<header class="menu-container">
    <div id="menu"></div>
</header>
<body>

<p class="head">Формирование финальных сеток</p>
<div class="square-container">

    <div class="square">
        <form method="POST">
            <div class="column">
                <label class="label__drawTop">Выбор дивизиона
                    <select class="input__chooseTop">
                        <option value="">Выберите дивизион</option>
                        <option value="">Дивизион 1</option>
                        <option value="">Дивизион 2</option>
                    </select>
                </label>
                <label class="label__division">Диапазон щитов
                    <div class="range-inputs">
                        <input type="text" class="inputStart" placeholder="От:">
                        <input type="text" class="inputEnd" placeholder="До:">
                    </div>
                </label>
            </div>
        </form>
        <form method="POST">
            <div class="columnTwo">
                <label class="label__drawTopTwo">Начало стадии плэй-офф
                    <input type="text" class="input__chooseTopTwo" placeholder="Введите начало стадии плэй-офф">
                </label>
                <label class="label__draw">Количество подходов
                    <input type="text" class="input__choose" placeholder="Введите количество подходов">
                </label>
            </div>
        </form>
    </div>
</div>
<button class="openPopup" type="submit" id="submit">Подтвердить</button>
<script src="../../static/js/addMenu.js"></script>
<script src="../../static/js/submitForm.js"></script>
</body>
</html>