<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Финальные результаты спарринга</title>
  <link rel="stylesheet" href="../../static/css/finalSparringResults.css">
  <link rel="stylesheet" href="../../static/css/styles.css">
</head>

<body>
<header class="menu-container">
  <div id="menu"></div>
</header>

<h1>Финальные результаты <br>спарринга</h1>
<h3>Внесите финальные результаты спарринга</h3>

<div id="playoff-tree"></div>

<button class="save-btn">Сохранить итоговый протокол*</button>
<h4>*Итоговый протокол включает в себя: список победителей и призёров; результаты квалификационного раунда; все финальные сетки; итоговые результаты.</h4>

<script src="../../static/js/addMenu.js"></script>
<script src="../../static/js/finalSparringResults.js"></script>
</body>
</html>