<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="stylesheet" href="../../static/css/IntermediateResult.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Промежуточные результаты квалификации</title>
</head>

<header class="menu-container">
    <div id="menu"></div>
</header>

<body>
<p class="header">Промежуточные результаты
    <br>квалификации
</p>
<p class="shootingParameter">Параметры стрельбы</p>
<div class="square">
    <form method="POST">
        <div class="column">
            <label class="label__distanceTop">Количество дистанций
                <br>
                <input type="text" class="input__distance" placeholder="Введите количество дистанций">
            </label>
            <br>
            <label class="label__distance">Названия дистанций

                <input type="text" class="input__distance" placeholder="Введите название дистанции">
            </label>
        </div>
        <br>
        <div class="add">
            <button class="addDistance">Добавить дистанцию +</button>
        </div>
    </form>
    <form method="POST">
        <div class="columnTwo">
            <label class="label__addIndicators">Дополнительные показатели</label>

            <div class="radio-group">
                <div class="radio-option">
                    <input id="distance-option-1" type="radio" name="distance-option">
                    <label for="distance-option-1">"10" и "9"</label>
                </div>

                <div class="radio-option">
                    <input id="distance-option-2" type="radio" name="distance-option">
                    <label for="distance-option-2">"X" и "9"</label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="button__apply">
    <button class="apply" type="submit" id="submit">Подтвердить</button>
</div>
<script src="../../static/js/addInput.js"></script>
<script src="../../static/js/addMenu.js"></script>
<script src="../../static/js/submitForm.js"></script>
</body>
</html>