<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Промежуточные результаты</title>
  <link rel="stylesheet" href="../../static/css/styles.css">
  <link rel="stylesheet" href ="../../static/css/divisions.css">
</head>
<header class="menu-container">
  <div id="menu"></div>
</header>
<body>
<h1>Промежуточные результаты <br>квалификации</h1>
<h3>Внесите промежуточные результаты, раскрыв <br>списки участников</h3>
<div id="container"></div>
<div class="line"></div>
<button class="pdf-button" id="saveProtocol">Выгрузить протокол <img class="pdf-svg" src="../../static/pics/file-pdf-box.svg"></button>
<button class="to-results-btn">Подтвердить</button>
<script src="../../static/js/intermediateResultTable.js"></script>
<script src="../../static/js/addMenu.js"></script>
</body>
</html>