<header class="menu-container">
  <meta charset="UTF-8">
  <link href="../../static/css/menu.css" rel="stylesheet">
  <div class="menu">
    <a class="menu-item" href="#">Предварительная регистрация</a>
    <a class="menu-item" href="registration.html">Регистрация</a>
    <a class="menu-item" href="#">Жеребьёвка</a>
    <a class="menu-item" href="#">Промежуточные результаты</a>
    <a class="menu-item" href="#">Итоговые результаты</a>
    <a class="menu-item" href="#">Формирование финальных сеток</a>
    <a class="menu-item" href="#">Финальные результаты спарринга</a>
  </div>
</header>
