<meta charset="UTF-8">
<div class="menu">
  <a class="menu-item" href="pre-reg.html" data-page="pre-registration">Предварительная регистрация</a>
  <a class="menu-item" href="reg.html" data-page="registration">Регистрация</a>
  <a class="menu-item" href="draw.html" data-page="draw">Жеребьёвка</a>
  <a class="menu-item" href="intermediateResult.html" data-page="intermediate-results">Промежуточные результаты</a>
  <a class="menu-item" href="finalRes.html" data-page="final-results">Итоговые результаты</a>
  <a class="menu-item" href="finalGrids.html" data-page="final-grids">Формирование финальных сеток</a>
  <a class="menu-item" href="#" data-page="final-sparring-results">Финальные результаты спарринга</a>
</div>