<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="../../static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/reg.css">
</head>
<body>
<!--    <header class="menu-container">-->
<!--        <div class="menu">-->
<!--            <a class="menu-item" th:href="@{/registration/preliminary/{id}(id=${competition.id})}"-->
<!--               data-page="pre-registration">Предварительная регистрация</a>-->
<!--            <a class="menu-item menu-item&#45;&#45;active" th:href="@{/registration/general/{id}(id=${competition.id})}"-->
<!--               data-page="registration">Регистрация</a>-->
<!--            <a class="menu-item" href="../templates/competition/draw.html" data-page="draw">Жеребьёвка</a>-->
<!--            <a class="menu-item" href="../templates/competition/intermediateResult.html" data-page="intermediate-results">Промежуточные-->
<!--                результаты</a>-->
<!--            <a class="menu-item" href="../templates/competition/finalRes.html" data-page="final-results">Итоговые-->
<!--                результаты</a>-->
<!--            <a class="menu-item" href="../templates/competition/finalGrids.html" data-page="final-grids">Формирование-->
<!--                финальных сеток</a>-->
<!--            <a class="menu-item" href="../templates/competition/finalSparringResults.html"-->
<!--               data-page="final-sparring-results">Финальные результаты спарринга</a>-->
<!--        </div>-->
<!--    </header>-->
    <main>
        <h1>Регистрация</h1>
        <h3>Вы можете подтвердить, удалить участника или
            <br>изменить его данные</h3>
        <div class="table-container">
            <table id="myTable" class="myTable">
                <thead>
                <tr>
                    <th></th>
                    <th>Спортсмен</th>
                    <th>Дата рождения</th>
                    <th>Пол</th>
                    <th>Класс лука</th>
                    <th>Разряд</th>
                    <th>Регион</th>
                    <th>Членство в спорт. федерации</th>
                    <th>Клуб</th>
                    <th>Телефон</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sportsman : ${sportsmen}">
                    <td class="empty">
                        <button class="confirm">
                            <img class="confirm" src="../../static/pics/checkbox-marked.svg"
                                 alt="../../static/pics/checkbox-marked.svg">
                        </button>
                        <button id="openPopup" class="openPopup" th:data-sportsman-id="${sportsman.id}"
                                th:competition-id="${sportsman.competition.getId()}">
                            <img class="delete" src="../../static/pics/close-box.svg"
                                 alt="../../static/pics/close-box.svg">
                        </button>
                        <button id="edit" class="edit">
                            <img src="../../static/pics/pencil-box.svg" alt="../../static/pics/pencil-box.svg">
                        </button>
                    </td>
                    <td class="sportsman" th:text="${sportsman.name}"></td>
                    <td class="date" th:text="${sportsman.date}"></td>
                    <td class="gender" th:text="${sportsman.gender}"></td>
                    <td class="class" th:text="${sportsman.bowClass}"></td>
                    <td class="razryad" th:text="${sportsman.category}"></td>
                    <td class="region" th:text="${sportsman.region}"></td>
                    <td class="member" th:text="${sportsman.federationMembership}"></td>
                    <td class="club" th:text="${sportsman.club}"></td>
                    <td class="phone" th:text="${sportsman.telephoneNumber}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <button id="registerButton">Зарегистрировать</button>
        <button id="addParticipantButton"><a th:href="@{/registration/preliminary/{competition_id}(competition_id=${sportsmen.get(0).getCompetition().id})}">Добавить нового участника</a></button>
    </main>
    <div class="popup" id="popup" data-sportsman-id="">
        <div class="popup-body">
            <div class="popup_content">
                <button id="closePopup">
                    <img class="popup-close-btn" src="../../static/pics/крестик.svg" alt="/templates/src/крестик.svg">
                </button>
                <img class="alert" src="../../static/pics/alert-circle.svg" alt="/templates/src/alert-circle.svg">
                <div class="popup-title"><h1 class="title">Удалить участника</h1></div>
                <div class="popup-text">
                    Вы уверены, что хотите удалить<br> участника <span class="sportsman"></span>?<br>
                </div>
                <button id="btn-cancel">отмена</button>
                <button id="btn-delete">Удалить</button>
            </div>
        </div>
    </div>
<script src="../../static/js/addNew.js"></script>
<script src="../../static/js/edit.js"></script>
</body>
</html>
