<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link href="../../static/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="../../static/css/reg.css">
</head>
<header class="menu-container">
  <div id="menu"></div>
</header>
<body>
<main>
<h1>Регистрация</h1>
<h3>Вы можете подтвердить, удалить участника или
  <br>изменить его данные</h3>
  <div class="table-container">
    <table id="myTable" class="myTable">
      <tr>
        <th></th>
        <th>Спортсмен</th>
        <th>Дата рождения</th>
        <th>Пол</th>
        <th>Класс лука</th>
        <th>Разряд</th>
        <th>Регион</th>
        <th>Членство в спорт. федерации</th>
        <th>Клуб</th>
        <th>Телефон</th>
      </tr>
    </table>
  </div>
  <button id="registerButton">Зарегистрировать</button>
  <button id="addParticipantButton"><a href="pre-reg.html">Добавить нового участника</a></button>
</main>
<div class="popup" id="popup">
  <div class="popup-body">
    <div class="popup_content">
      <button id="closePopup">
        <img class="popup-close-btn" src="../../static/pics/крестик.svg" alt="/templates/src/крестик.svg">
      </button>
      <img class="alert" src="../../static/pics/alert-circle.svg" alt="/templates/src/alert-circle.svg">
      <div class="popup-title"><h1 class="title">Удалить участника</h1></div>
      <div class="popup-text">
        Вы уверены, что хотите удалить<br> участника  <span class="sportsman"></span>?<br>
      </div>
        <button id="btn-cancel">отмена</button>
        <button id="btn-delete">Удалить</button>
    </div>
  </div>
</div>
<script src="../../static/js/addNew.js"></script>
<script src="../../static/js/edit.js"></script>
<script src="../../static/js/addMenu.js"></script>
</body>
</html>
